* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

// texts
#america,
#china_2,
#china_3,
#spain_2,
#france_2,
#england_2,
#germany_2,
#netherlands_2 {
    opacity: 0;
    display: none;
}

#map path {
    cursor: pointer;
}

#finger,
#finger_2 {
    display: none;
}

#Vector_71 {
    transform: translate(-7px, 3px);
}
